* {
  font-family: tahoma, sans-serif; }

body {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: #666666;
  background-color: #3c5368;
  background-image: url("/images/body_bg.png");
  background-repeat: repeat-x;
  background-position: top left; }

#overall_container {
  width: 960px;
  margin: auto;
  background: white url("/images/container_bg.png") no-repeat top right;
  padding: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px white;
  -webkit-box-shadow: 0px 0px 10px white;
  -moz-box-shadow: 0px 0px 10px white; }

h1 {
  font-size: 18px; }

p {
  margin: 1em 0; }

#overall_header {
  margin-bottom: 10px; }
  #overall_header h1 {
    margin: 0;
    padding: 0; }
    #overall_header h1 span {
      display: none; }
    #overall_header h1 a {
      display: block;
      margin: 0;
      padding: 0;
      width: 256px;
      height: 50px;
      background: transparent url("/images/logo.jpg") no-repeat center center; }
  #overall_header #global_navigation {
    float: right;
    list-style-type: none;
    padding-right: 30px; }
    #overall_header #global_navigation li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      #overall_header #global_navigation li img {
        padding: 2px;
        border: 1px solid #cccccc;
        margin-bottom: -10px; }

a, a:visited, a:hover {
  text-decoration: none;
  color: #3c5368; }

.flash-message {
  margin: 10px 0 10px 0; }

h2 {
  color: #3c5368;
  font-size: 18px;
  margin: 10px 0 5px 0;
  text-shadow: #999999 2px 2px 2px; }

h3 {
  color: #3c5368;
  font-size: 16px;
  margin: 10px 0 5px 0;
  text-shadow: #999999 2px 2px 2px; }

table td {
  vertical-align: top; }

.text-input, input[type="submit"], input[type="password"], input[type="button"], input[type="text"], textarea {
  border: 1px solid #cccccc; }

.errorExplanation h2, .errorExplanation p {
  display: none; }
.errorExplanation ul li {
  padding: 5px;
  margin: 5px 0 5px 0; }

.devise-links {
  float: right; }
  .devise-links a {
    margin-left: 20px; }

label {
  display: block;
  font-weight: bold;
  font-size: 11px; }

.right {
  float: right; }

.left {
  float: left; }

.clear-right {
  clear: right; }

.clear {
  clear: both; }

.vspacer {
  height: 10px; }

.button-to {
  display: inline-block; }

.person-draggable {
  width: 64px;
  height: 80px;
  padding: 5px;
  border: 1px solid #cccccc;
  background-color: white;
  display: inline-block;
  cursor: pointer; }

.person-droppable {
  height: 95px; }

#project_form table {
  width: 100%;
  border: 1px solid #eeeeee; }
  #project_form table td {
    border: 1px solid white;
    padding: 5px;
    background: transparent url("/images/semi_transparent.png") repeat top left;
    border-radius: 5px;
    -moz-border-radius: 5px; }
  #project_form table td.description {
    width: 200px;
    padding-right: 20px; }
  #project_form table td.one {
    width: 88px;
    padding-right: 20px; }

.projects {
  width: 470px;
  float: left; }

.owned_projects {
  width: 470px;
  float: right; }

.project {
  margin-bottom: 10px;
  padding: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  background: transparent url("/images/semi_transparent.png") repeat top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368; }
  .project .hidden {
    opacity: 0.3; }
  .project .logo_thumb {
    float: left;
    margin: 0 5px 0 0; }
  .project h3 {
    margin-top: 0; }

.project:hover .hidden {
  opacity: 1; }

.inline-block {
  display: inline-block; }

.logo_thumb {
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368; }

table.adjusting {
  border: 0 !important; }
  table.adjusting td {
    border: 0 !important;
    vertical-align: middle; }

#project_buttons {
  display: inline-block;
  float: left;
  padding-right: 20px; }

#sprints, #product_backlog, #user_stories_incubator {
  float: left;
  margin: 5px;
  width: 300px;
  padding: 0 4px 4px 4px;
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  background: transparent url("/images/semi_transparent.png") repeat top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368; }

#sprints .delete-story {
  display: none; }

.new-sprint-form-wrapper, .new-user-story-form-wrapper {
  display: none;
  padding: 10px 5px 10px 5px; }

.ui-accordion .ui-accordion-content {
  padding: 2px 5px 10px 5px; }

.edit-sprint {
  display: none; }

.ui-accordion .ui-accordion-content {
  position: static; }
.ui-accordion .ui-accordion-header {
  padding: 5px;
  font-weight: bold;
  color: #3c5368;
  margin-top: 10px; }
  .ui-accordion .ui-accordion-header .ui-icon {
    display: none; }

.move-three-up {
  margin-top: -3em; }

.user-stories-sortable .user-story {
  cursor: move; }

.user-story, .time-log-entry {
  background-color: #fffbe9;
  padding: 10px;
  margin: 5px 0 5px 0;
  border: 1px solid #e7daa8;
  font-size: 14px !important;
  font-style: italic !important;
  color: #666666 !important;
  line-height: 14px !important;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #666666;
  -webkit-box-shadow: 1px 1px 2px #666666;
  -moz-box-shadow: 1px 1px 2px #666666;
  position: relative; }
  .user-story img, .time-log-entry img {
    position: relative;
    top: -3px;
    left: -2px; }

.time-log-entry img {
  position: none;
  top: 0;
  left: 0;
  float: left;
  padding-right: 10px; }
.time-log-entry .entry-duration, .time-log-entry .entry-worked-on {
  display: inline; }
.time-log-entry .entry-date {
  font-size: 12px;
  font-style: normal;
  line-height: 15px; }
.time-log-entry .entry-duration {
  font-weight: bold; }
.time-log-entry .entry-worked-on {
  font-style: normal; }

.in_progress {
  background-color: #ffeeee; }

.resolved {
  background-color: #eeffee; }

.closed {
  text-decoration: line-through;
  background-color: #eeffee; }

.comment {
  background-color: #fafaff;
  padding: 5px;
  margin: 5px 0 5px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #3c5368; }
  .comment img {
    margin-right: 5px; }

.user-stories-sortable {
  min-height: 40px; }
  .user-stories-sortable .ui-state-highlight {
    height: 40px; }

#new_comment_wrapper {
  display: none; }

#comment_content {
  width: 660px; }

.sprint-backlog-dialog {
  display: none; }

.story-avatar {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -3px;
  padding: 0; }
  .story-avatar img {
    width: 14px;
    height: 14px;
    margin: 0;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 2px #3c5368;
    -webkit-box-shadow: 0px 0px 2px #3c5368;
    -moz-box-shadow: 0px 0px 2px #3c5368; }

.story-points {
  font-weight: bold;
  color: #3c5368;
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  box-shadow: 1px 1px 3px #3c5368;
  -webkit-box-shadow: 1px 1px 3px #3c5368;
  -moz-box-shadow: 1px 1px 3px #3c5368;
  font-style: normal; }

.simple-filtering label {
  display: inline; }

.worked-time {
  font-size: 20px;
  font-weight: bold;
  float: right;
  color: #3c5368;
  clear: right; }

.new-sprint-form-wrapper label, .new-sprint-form-wrapper textarea, .new-sprint-form-wrapper input[type=text], .new-sprint-form-wrapper select, .edit-sprint label, .edit-sprint textarea, .edit-sprint input[type=text], .edit-sprint select, .new_user_story label, .new_user_story textarea, .new_user_story input[type=text], .new_user_story select, .edit_user_story label, .edit_user_story textarea, .edit_user_story input[type=text], .edit_user_story select {
  font-size: 14px;
  line-height: 16px; }
.new-sprint-form-wrapper input[type=text], .edit-sprint input[type=text], .new_user_story input[type=text], .edit_user_story input[type=text] {
  width: 100%; }
.new-sprint-form-wrapper textarea, .edit-sprint textarea, .new_user_story textarea, .edit_user_story textarea {
  width: 100%; }

#shoutbox {
  clear: right;
  float: right;
  width: 620px;
  padding: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  background: transparent url("/images/semi_transparent.png") repeat top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368;
  margin-right: 10px; }
  #shoutbox h2 {
    display: inline-block;
    width: 130px; }
  #shoutbox #shout_content {
    width: 500px;
    font-size: 16px; }
  #shoutbox #toggle_shoutbox {
    display: inline-block; }

.shouts-title {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: absolute;
  left: -60px;
  top: 5px; }

.shouts-wrapper {
  padding-left: 20px;
  position: relative; }

.shouts {
  height: 60px;
  overflow: auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 0 10px 0 10px;
  border: 1px solid #cccccc; }
  .shouts .shout:last-child {
    font-size: 16px;
    color: #3c5368; }
  .shouts .shout {
    border-top: 1px solid #fafafa;
    padding: 5px; }
    .shouts .shout span {
      font-weight: bold;
      color: #666666; }

#now_working {
  float: left;
  clear: left;
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  background: transparent url("/images/semi_transparent.png") repeat top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368;
  padding: 5px;
  width: 285px;
  margin-left: 5px; }
  #now_working h2 {
    margin: 0 0 5px 0; }

.button {
  padding: 5px 5px 7px 5px;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 5px; }

.button-with-icon {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: 3px center; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon span {
    display: none; }

.icon-pages {
  background-image: url(/images/icons/page_white_stack.png); }

.icon-play {
  background-image: url(/images/icons/control_play_blue.png); }

.icon-pause {
  background-image: url(/images/icons/control_pause_blue.png); }

.icon-cross {
  background-image: url(/images/icons/cross.png); }

.icon-chart-curve {
  background-image: url(/images/icons/chart_curve.png); }

.icon-prefs {
  background-image: url(/images/icons/wrench.png); }

.icon-add {
  background-image: url(/images/icons/add.png); }

.attachment {
  border-width: 0px;
  border-style: solid;
  border-color: #3c5368;
  background: transparent url("/images/semi_transparent.png") repeat top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 3px #3c5368;
  -webkit-box-shadow: 0px 0px 3px #3c5368;
  -moz-box-shadow: 0px 0px 3px #3c5368;
  margin: 10px 0;
  padding: 5px;
  font-size: 14px; }
  .attachment img {
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 1px 3px #3c5368;
    -webkit-box-shadow: 1px 1px 3px #3c5368;
    -moz-box-shadow: 1px 1px 3px #3c5368;
    float: left;
    margin-right: 10px; }
  .attachment a {
    display: block;
    font-size: 16px; }
  .attachment .meta {
    margin: 5px 0;
    font-size: 12px; }
