= render partial: "projects/project_header", locals: {project: @project}

%h1= t("attachments")

%p= link_to t("new_attachment"), [:new, @project, :attachment]

- @attachments.each do |attachment|
  = link_to File.basename(attachment.file.file.file), [@project, attachment]
