- content_for :socky do
  = socky :client_id => current_user.id, :channels => @project.id, :client_secret => current_user.password_salt

#shoutbox
  %div{"data-populate-with" => project_shouts_path(@project) }
